{% extends 'base_foot.html' %}

{% block head %}
<script>


	$(function () {
		$('form').submit(function (e) {
			e.preventDefault();

			$.ajax({
				url: '/user/login_handle/',
				type: 'POST',
				dataType: 'json',
				data: $('form').serialize(),

				success: function(data){
					// 防止页面为刷新保留上次提示错误提示标签内容
					$('.user_error').hide();
					console.log(data);

					// 根据视图函数返回判断结果标识，显示错误提示标签内容或跳转页面
					if (data.user_error == true) {
						$('pwd_error').hide();

						if (data.pwd_error == true) {
							window.location.href = '/user/center_info/';
						} else {
							$('.pwd_error').show().text('密码输入错误');
						}
					} else {
						$('.user_error').show().text('用户名输入错误');
					}

				},
				error: function(data){
					console.log("Alert error happened");
				}
			})
		});

		$('.name_input').blur(function () {
			var name = $('.name_input').val();
			if (name) {
				$(this).next().hide()
			} else {
				$(this).next().show()
			}
		});
		$('.pass_input').blur(function () {
			var name = $('.pass_input').val();
			if (name) {
				$(this).next().hide()
			} else {
				$(this).next().show()
			}
		})
	})

</script>
{% endblock head %}

{% block body %}
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/register/">立即注册</a>
				</div>
				<div class="form_input">
					<form action="/user/login_handle/" method="POST">
						{% csrf_token %}
						<input type="text" name="username" class="name_input" placeholder="请输入用户名" value="{{ uname }}">
						<div class="user_error">输入错误</div>
						<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" value="1">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>
						<input type="submit" name="" value="登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
