{% extends 'base_main.html' %}

{% block content %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/center_info/">· 个人信息</a></li>
				<li><a href="user_center_order.html">· 全部订单</a></li>
				<li><a href="/user/center_site/" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
						<dd>{{ user_obj.recv_addr }}</dd>
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form action="/user/center_site/" method="POST">
					{% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="recv_name" value={{ user_obj.uname }}>
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="recv_addr">{{ user_obj.recv_addr }}</textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="recv_code" value={{ user_obj.recv_code }}>
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="uphone" value={{ user_obj.uphone }}>
						</div>

						<input type="submit" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>
{% endblock content %}
