{% extends 'base_main.html' %}
	
{% block content %}
<div class="main_con clearfix">
	<div class="left_menu_con clearfix">
		<h3>用户中心</h3>
		<ul>
			<li><a href="/user/center_info/">· 个人信息</a></li>
			<li><a href="/user/center_order/" class="active">· 全部订单</a></li>
			<li><a href="/user/center_site/">· 收货地址</a></li>
		</ul>
	</div>
	<div class="right_content clearfix">
			<h3 class="common_title2">全部订单</h3>
			{% for info in page %}
			<ul class="order_list_th w978 clearfix">
				<li class="col01">{{ info.odate|date }}</li>
				<li class="col02">订单号：{{ info.oid }}</li>
				{% if info.oIsPay == False %}
					<li class="col02 stress">未支付</li>
				{% else %}
					<li class="col02 stress">已支付</li>
				{% endif %}
			</ul>

			<table class="order_list_table w980">
				<tbody>
					<tr>
						<td width="55%">
							{% for detail in info.orderdetail_set.all %}
							<ul class="order_goods_list clearfix">
								<li class="col01"><img src="/static/{{ detail.goods.gpic }}"></li>
								<li class="col02">{{ detail.goods.gtitle }}<em>{{ detail.goods.gprice }}元/{{ detail.goods.gunit }}</em></li>
								<li class="col03">{{ detail.count }}</li>
								<li class="col04">{{ detail.price }}元</li>
							</ul>
							{% endfor %}
						</td>
						<td width="15%">{{ info.ototal }}元</td>
						<td width="15%">待付款</td>
						<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
					</tr>
				</tbody>
			</table>
			{% endfor %}

			<div class="pagenation">
				{% if page.has_previous %}
					<a href="/user/center_order/?p={{ page.previous_page_number }}">上一页</a>
				{% endif %}

				{% for index in page.paginator.page_range %}
					<!-- 获取当前页码，构造翻页的url参数 -->
					{% if index == page.number %}
						<a href="/user/center_order/?p={{ index }}" class="active">{{ index }}</a>
					{% else %}
						<a href="/user/center_order/?p={{ index }}">{{ index }}</a>
					{% endif %}
				{% endfor %}

				{% if page.has_next %}
					<a href="/user/center_order/?p={{ page.next_page_number }}">下一页></a>
				{% endif %}
			</div>
	</div>
</div>
{% endblock content %}