{% extends 'df_goods/base.html' %}

{% block goods_content %}

	<div class="main_wrap clearfix">

		<div class="r_wrap clearfix">
        {% if query %}

			<ul class="goods_type_list clearfix">
                {% for item in page.object_list %}
				<li>
					<a href="/goods/{{ item.object.id }}"><img src="/static/{{ item.object.gpic }}"></a>
					<h4><a href="/goods/{{ item.object.id }}">{{ item.object.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ item.object.gprice }}</span>
						<span class="unit">{{ item.object.gprice }}/{{ item.object.gunit }}</span>
						<a href="/cart/add_{{ item.object.id }}_1/" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

            <div class="pagenation">
                {% if page.has_previous %}
				    <a href="/search/?q={{ query }}&amp;page={{ page.previous_page_number }}"><上一页</a>
                {% endif %}

                {% for pindex in page.paginator.page_range %}
                    {% if pindex == page.number %}
                        <a href="/search/?q={{ query }}&amp;page={{ pindex }}" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="/search/?q={{ query }}&amp;page={{ pindex }}">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
				    <a href="/search/?q={{ query }}&amp;page={{ page.next_page_number }}">下一页></a>
                {% endif %}
			</div>


        <!--  有多页才显示
            <div class="pagenation">
			{% if page.has_previous or page.has_next %}
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; 上一页{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}下一页 &raquo;{% if page.has_next %}</a>{% endif %}
            {% endif %}
            </div>
        -->
        {% endif %}
		</div>

	</div>


{% endblock goods_content %}